@{
    ViewBag.Title = "Index";
}

<h2>Session State Management (without DB)</h2>

<ul>
    <li><a href="@Url.Action("CookieStyle", "WebDev", new { id = 14 , username = "Siavash"})">Cookie</a></li>
    <li><a href="@Url.Action("SessionStyle", "WebDev", new { id = 24 , username = "Siavash"})">Session Variable</a></li>
    <li><a href="@Url.Action("QueryStyle", "WebDev", new { id= 19 ,firstName = "Hamed",lastName = "Condor",country = "Iran"})">Query String</a></li>
    <li>View State</li>
    <li>Hidden Fields</li>
</ul>
