@{
    ViewBag.Title = "QueryStyle";
}

<h2>QueryStyle</h2>

<p>
    ID: @ViewBag.meID
</p>

<p>
    Item 1: @ViewBag.Item1
</p>
<p>
    Item 2: @ViewBag.Item2
</p>

<p>
    this is directly from the request: @Request["firstname"]
</p>