@{
    ViewBag.Title = "searching";
}

<h2>searching compelete</h2>
<p>you searched for :</p>
<h3>injoori : @Request.QueryString["search"]</h3>
<h3>ya injoori farghi nemikone : @Request["search"]</h3>
