
@{
    ViewBag.Title = "Index";
}
<h2>hey welcome to my registery page :/</h2>
<ul>
    <li><a href="@Url.Action("Create", "Create")">Register now</a></li>
    <li><a href="@Url.Action("logIn", "Create")">or just log in</a></li>
</ul>