@model Condor_HelloWorld.Models.CreateViewModel
@{
    ViewBag.Title = "logIn";
}

<h2>logIn</h2>
<div>
    @if (ViewBag.cook != "nope")
    {
        //stop right here
    }
    else
    {
        <h3>you're not registred yet!!!</h3>
    }

    
</div>
