@{
    ViewBag.Title = "Index";
}

<h2>Hello World!</h2>

<p>
    <strong>
        Request: 
    </strong>
    What comes from the user.
</p>


<p>
    <strong>
        Response:
    </strong>
    What we sent to the user.
</p>

<p>
    Request Process: Request > Controller > Method > View
</p>
@Request.Url